body { background: #7cc5ca; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 42px; display: flex; }
.block-auth-0 { color: #796465; font-size: 15px; margin-bottom: 5px; }
.block-filter-1 { color: #d4b92c; font-size: 14px; margin-bottom: 5px; }
.block-helper-2 { color: #117eb1; font-size: 16px; margin-bottom: 5px; }
.block-cart-3 { color: #d934aa; font-size: 14px; margin-bottom: 5px; }
.block-sms-4 { color: #f68fe3; font-size: 17px; margin-bottom: 5px; }
.block-search-5 { color: #48171f; font-size: 17px; margin-bottom: 5px; }
.block-token-6 { color: #f57075; font-size: 13px; margin-bottom: 5px; }